<p> is a  year old .</p>
<table border="1">
    <tr>
        <th>姓名</th>
        <th><%= user.name.first %></th>
    </tr>
    <tr>
        <td>品種</td>
        <td><%= user.species %></td>
    </tr>
    <tr>
        <td>年齡</td>
        <td><%= user.age %></td>
    </tr>
</table>