<body>
<table border="1">
    <tr>
        <th>姓名</th>
        <td><%= user.name.first %></td>
    </tr>
    <tr>
        <th>品種</th>
        <td><%= user.species %></td>
    </tr>
    <tr>
        <th>年齡</th>
        <td><%= user.age %></td>
    </tr>
</table>
</body>